header{
    background-color: #000000;
    height:82px;
    display: flex;
    align-items: center;
    position: relative;
}

.header_left{
    height: 36px;
    margin-left: 25px;
}

.header_center{
    background-color: #FFFFFF;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 563px;
    height: 50px;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.search::placeholder{
    color: #000000;
}

.header_right{
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    width:463px;
    gap:37px;
}

.in_out{
    color:#FFFFFF;
    font-size: 20px;
    text-decoration: none;
}

.mypage{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
}

.sell{
    background-color: #FFFFFF;
    color: #000000;
    text-decoration: none;
    border-radius: 4px;
    width:100px;
    height:50px;
    display: grid;
    place-items: center;
    font-size: 24px;
}
