header{
    background-color: #000000;
    height:82px;
    display: flex;
    align-items: center;
}

header img{
    height: 36px;
    margin-left: 25px;
}

.search{
    background-color: #FFFFFF;
    justify-content: center;
}

.search::placeholder{
    color: #000000;
}

.button{
    display: flex;

}
.in_out{
    color:#FFFFFF;
    font-size: 20px;
}

.mypage{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
}

.sell{
    background-color: #FFFFFF;
    color: #000000;
    text-decoration: none;
    border-radius: 4px;
    width:100px;
    height:50px;
    display: grid;
    place-items: center;
    font-size: 24px;
}
