header{
    background-color: #000000;
    height:82px;
    display: flex;
    align-items: center;
}

header img{
    height: 36px;
    margin-left: 25px;
}

.search{
    background-color: #FFFFFF;
}

.search::placeholder{
    color: #000000;
}

.in_out{
    color:#FFFFFF;
}

.mypage{
    color: #FFFFFF;
    text-decoration: none;
}

.list{
    background-color: #FFFFFF;
    color: #000000;
    text-decoration: none;
}