.content {
    display: flex;
    margin-top: 50px;
    gap: 50px;
}

.left {
    margin-top: 36px;
    margin-left: 10%;
}

.left img{
    height:600px;
    width:600px;
}

.spacer {
    flex-grow: 1;
}

.right {
    width: 570px;
    margin-right: 10%;
}

h1{
    font-size: 45px;
}

.brand{
    font-size: 20px;
}

.price{
    margin-top: 20px;
    font-size: 30px;
}

h2 {
    font-size: 36px;
    margin-top: 30px;
}


.like_comment {
    display: flex;
    gap:100px;
    margin-left: 42px;
    margin-top: 20px;
}

.like{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment_logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.purchase {
    margin-top: 20px;
    color: #FFFFFF;
    background-color: #FF5555;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 570px;
    font-size: 30px;
    border-radius: 4px;
}

.description{
    font-size: 24px;
}

.category_container,
.condition_wrap {
    font-size: 24px;
    margin-top: 20px;
    display: flex;
}

.category_title{
    width:123px;
    white-space: nowrap;
    font-style: bold;
}

.category_items {
    margin-left: 60px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

.category_item{
    border: 2px solid #D9D9D9;
    border-radius: 200px;
    background-color: #D9D9D9;
    padding: 5px 25px;
}

.condition_title{
    font-style: bold;
}

.condition{
    margin-left: 60px;
}

.comment_title {
    font-size: 36px;
    font-style: bold;
    margin-top: 50px;
}

.user {
    display: flex;
}

.user img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.comment_form_title{
    font-size: 28px;
}

textarea {
    border: 2px solid #5F5F5F;
    height: 246px;
    width: 570px;
}

.comment_button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    height:56px;
    width:570px;
    border-radius: 4px;
    background-color: #FF5555;
    color:#FFFFFF;
    margin-top: 50px;
    margin-bottom: 50px;
}

.error{
    color: red;
}