.content {
    display: flex;
}

.left {
    width: 50%;
}

h2 {
    font-size: 36px;
}

.left img {
    width: 100%;
    height: auto;
    display: block;
}

.right {
    width: 50%;
}

.like_comment {
    display: flex;
}


.purchase {
    color: #FFFFFF;
    background-color: #FF5555;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 570px;
}

.category,
.condition {
    display: flex;
}

.comment_title {
    font-size: 36px;
}

.user {
    display: flex;
}

.user img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

textarea {
    border: 2px solid #5F5F5F;
    height: 246px;
}

.error{
    color: red;
}