main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 36px;
    display: flex;
    justify-content: center;
}

.information {
    margin-top: 118px;
    width: 680px;
    height: 656px;
}

.label {
    margin-top: 52px;
    font-size: 24px;
}

.information input {
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    height: 57px;
    width: 100%;
}

.button-login {
    margin-top: 80px;
    height: 62.25px;
    background-color:#FF5555;
    color: #FFFFFF;
    border-radius: 5px;
    width: 100%;
    font-size: 26px;
}

.register {
    margin-top: 18px;
    text-decoration: none;
    color: #0073CC;
    display: flex;
    justify-content: center;
}

.error {
    color: red;
}