h1{
    display: flex;
    justify-content: center;
}

h2{
    color: #5F5F5F;
    border-bottom: 1px solid #5F5F5F;
}

.category{
    border:2px solid #FF5655;
    border-radius: 200px;
    color:#FF5655;
}

.category input:checked+span{
    border: 2px solid #FF5655;
    border-radius: 200px;
    background-color: #FF5655;
    color: #fff;
    border-color: #FF5655;
}

.category input {
    display: none;
}

select option[value=""] {
    display: none;
}

select{
    border: 1px solid #5F5F5F;
}

select option{
    background-color: #636769;
    color: #EAEAEA;
    border: 1.5px solid #B1B1B1;
}

input{
    border: 1px solid #5F5F5F;
}

.price-wrapper{
    position:relative;
}

.price{
    padding-left:20px;
}

.price-wrapper::before{
    content:"￥";
    position:absolute;
}

.button-submit{
    background-color: #FF5555;
    color: #FFFFFF;
    display: flex;
    height: 60px;
    width: 680px;
    justify-content: center;
    align-items: center;
}

.error{
    color:red;
}